@media only screen and (max-width: 1100px){
    main{
        .menu{
            padding: 60px 15px;        
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 200px  300px 300px;
            grid-gap: 10px;
            grid-template-areas: 
            "box1 box2"
            "box3 box3"
            "box4 box4";
        }
        .menu__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__text{
                width: 100%;
                margin-bottom:60px;
                table{
                    width: 95%;
                }
            }
        }
    }
}
@media only screen and (max-width: 936px) {
    .footer{
      .footer__container{
          width: 100%;
          padding: 0 30px;
          grid-template-columns: 1fr 1fr;
      }  
    }
}
@media only screen and (max-width: 624px) {
    .header{
        .header__content{
            .logo{
                img{
                    max-width: 300px;
                }
            }
            .header__title{
                margin-top: 30px;
                h1,p{
                    font-size: 64px;
                }
            }
            .header__btn{
                padding-top: 90px;
                padding-bottom: 0;
                &.nav-content-block{
                    flex-direction: column;
                }
                a{
                    margin-top: 15px;
                }
            }
            .header__social-icons{
                margin-top: 60px;
            }
        }
    }
    main{
        .menu__content{
            padding: 0;
            font-size: 14px;
            &__text{
                margin-bottom: 15px;
                table{
                    width: 100%;
                }
            }
            &__slider{
                width: 100%;
            }
        }
    }
    .footer{
        padding-top: 15px;
      .footer__container{
          width: 100%;
          padding: 0 30px;
          display: block;
          .footer__content{
              margin-top: 60px;
          }
      }
    }
}
@media only screen and (max-width: 440px) {
    .header{
        .header__content{
            .burger{
                display: block;
                margin-top: 40px;
                padding-top: 40px;
            }
            .header__btn{
                padding-top: 30px;
            }
            .header__social-icons{
                margin-top: 20px;
            }
        }
        .nav{
            display: none;
        }
    }
}
@media only screen and (max-width: 364px) {
    header.header{
        .header__content{
            .header__title{
                h1,p{
                    font-size: 48px;
                }
            }
            .header__btn{
                a{
                    div{
                        padding: 10px 15px;
                        p{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}