@keyframes head__title-top{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes head__title-bottom{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes bg-show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}